@keyframes infinite-spinning {
    0%   {transform: rotate(0deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg);}
    80%  {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
  }

.bike-animation-container.wind-blow {
    background:url('/assets/windBlow.gif');
    height:340px;
    width:506px;
    vertical-align: bottom;
    display: table-cell;
    box-shadow: 10px 10px 20px 0 white inset, -10px -10px 20px 0 white inset; 
}

.bike-animation-container.wind-stopped {
    background:url('/assets/windStopped.gif');
    height:340px;
    width:506px;
    vertical-align: bottom;
    display: table-cell;
    box-shadow: 10px 10px 20px 0 white inset, -10px -10px 20px 0 white inset; 
}

.bike-animation-container {
    padding-top: 1rem;
    margin-top: 1rem;
}

.bike-animation {
    margin-bottom:-50px;
    margin-left:10px;
    height:70%;
    width:70%;
    vertical-align: bottom;
    animation-name: infinite-spinning;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.fast-animation {
    animation-duration: 0.6s;
}

.slow-animation {
    animation-duration: 1.6s;
}

.bike-downhill {
    transform: rotate(4deg);
}

.bike-uphill {
    transform: rotate(-4deg);
}

.flat {
    margin-left:2.5%;
    margin-bottom:1.5%;
    width:95%;
}

.slider-label {
    padding: 0.5rem;
}

mat-slider {
    padding: 1.5rem;
}

mat-horizontal-stepper {
    min-width: 8rem;
}

.type-radio-button {
    margin-right:10px;
}

.configurator-section {
    padding: 2rem 2rem 1.5rem;
    margin: 1rem; 
    border-radius: 1.75rem;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
}

.configurator-icon {
    float: right;
}

.check-icon {
    color: rgb(0, 219, 0);
    font-size: 2rem;
}

.red-check-icon {
    color: rgb(255, 0, 0);
    font-size: 2rem;
}

.section-container {
    display: flex;
    padding: 1rem;
}

.configurator-form {
    padding: 10px;
    margin: 15px; 
}

.disabled-config-field-background {
    background-color: rgba(98, 98, 138, 0.13);
    box-shadow: 0 0 2rem rgba(98, 98, 138, 0.315);
}

div.mat-tooltip.ng-trigger {
    font-size: 18px;
}

.table-container {
    max-width: 100%;
}

.table-label {
    float: center;
}

table {
    padding: 0px 15px 0px;
    margin: 15px 5px 15px 15px; 
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
}

.table-body {
    width: 100%;
}

.mat-table {
    max-width: 20rem;
    border-radius: 1.75rem;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
}

tr {
    font-size: 16px;
}

tr.example-detail-row {
  height: 0;
}

.mat-cell {
    font-size: 16px;
}

.mat-header-cell {
    font-size: 16px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}