<div class="section-container" [@panelInOut]>
  <section class="picture-section">
    <div class="bike-animation-container wind-blow">
      <div class="bike-container" [ngClass]="{'bike-uphill': configuration.incline >= 10, 'bike-downhill':  configuration.incline <= -10}">
        <img class="bike-animation" alt="bike" src="assets\bike{{configuration.type}}{{batterySize()}}Bat.png"
        [ngClass]="{'fast-animation': configuration.speed > 50,
        'slow-animation':  configuration.speed <= 50 && configuration.speed > 30,
        'bike-uphill': configuration.incline > 10, 'bike-downhill':  configuration.incline < -10}">
        <img class="flat" alt="flat" src="assets\flat.png">
      </div>
    </div>  
    <div class="configurator-section">
      <div>Average power: {{calculateConfigPower()}} W</div><br>
      <div>Requried energy: {{calculateEnergy()}} Wh</div>
      </div>
      <div class="configurator-section" *ngIf="batteryWeight() > 0" [@panelInOut]>
        <i class="material-icons md-36 configurator-icon check-icon md-36" [matTooltip]="getPowerCheckString()" [ngClass]="{'red-check-icon': calculateConfigPower() > actualPower()}">done</i>
        <div>System power: {{actualPower()}} W</div> <br>
        <i class="material-icons md-36 configurator-icon check-icon md-36" [matTooltip]="getEnergyCheckString()" [ngClass]="{'red-check-icon': calculateEnergy() > actualEnergy()}">done</i>
      <div>Avaliable energy: {{actualEnergy()}} Wh</div>
    </div>
  </section>
  <mat-horizontal-stepper linear>
    <mat-step>
      <ng-template matStepLabel>Trip</ng-template>
      <section class="configurator-section">
        <label class="slider-label">Speed(kph): </label>
        <i class="material-icons md-36 configurator-icon" matTooltip="Set up your trip preferences. Be aware a combination of high speed and long distance will require prohibitive battery capacities.">landscape</i><br>
        <mat-slider class="slider" min="10" max="80" step="10" [(ngModel)]="configuration.speed"></mat-slider> {{configuration.speed}}<br><br>
        <label class="slider-label">Distance(km): </label><br>
        <mat-slider class="slider" min="10" max="120" step="10" [(ngModel)]="configuration.distance"></mat-slider> {{configuration.distance}}<br><br>
        <label class="slider-label">Incline(%): </label><br>
        <mat-slider class="slider" min="-20" max="20" step="5" [(ngModel)]="configuration.incline"></mat-slider> {{configuration.incline}}<br><br>
        <label class="slider-label">Weight(kg): </label><br>
        <mat-slider class="slider" min="80" max="140" step="20" [(ngModel)]="configuration.weight"></mat-slider> {{configuration.weight}}<br><br>
      </section>
    </mat-step>
    <mat-step [completed]="checkBatteryParameters()">
    <ng-template matStepLabel>Battery</ng-template>
    <section class="configurator-section">
      <i class="material-icons md-36 configurator-icon" matTooltip="Assumes 3000mAh capacity, 10A continous draw and 60g per cell factoring in the battery pack assembly. These are practival 18650 type cell values.">battery_charging_full</i>
      <label class="slider-label">Serial cells: </label><br>
      <mat-slider class="slider" min="0" max="20" step="2" [(ngModel)]="configuration.serial"></mat-slider> {{configuration.serial}}<br><br>
      <label class="slider-label">Parralel cells: </label><br>
      <mat-slider class="slider" min="0" max="12" step="1" [(ngModel)]="configuration.parallel"></mat-slider> {{configuration.parallel}}<br><br>
      <label class="slider-label">Battery weight: </label><br><br> {{batteryWeight()}} Kg<br><br>
      <label class="slider-label">Volts: </label><br><br> {{configuration.serial*3.6}} V<br><br>
      <label class="slider-label">Amps: </label><br><br> {{configuration.parallel*10}} A<br>
    </section>
  </mat-step>
  <mat-step>  
    <ng-template matStepLabel>Drivetrain</ng-template>
    <section class="configurator-section">
      <i class="material-icons md-36 configurator-icon" matTooltip="Assumes a 35.5kV, 0.27kt hub motor, or a 26kV, 0.364kt mid drive. These are practical values for 3000w nominal motors of both type.">flash_on</i>
        <label>Motor type:</label><br><br>
        <mat-radio-group [(ngModel)]="configuration.type">
          <mat-radio-button class="type-radio-button" value="Mid">
            Mid drive
          </mat-radio-button>
          <mat-radio-button class="type-radio-button" value="Hub">
            Hub
          </mat-radio-button>
        </mat-radio-group><br><br><br>
          <form [ngClass]="{'disabled-config-field-background': configuration.type === 'Default'}">
            <label class="slider-label">Wheel size(inches): </label> <br>
            <mat-slider [disabled]="configuration.type === 'Default'" name="wheelSizeSlider" class="slider" min="20" max="30" step="1" [(ngModel)]="configuration.wheelSize"></mat-slider> {{configuration.wheelSize}}<br><br>
            <label class="slider-label">Gearing {{gearingMethod()}}: </label> <br>
            <mat-slider [disabled]="configuration.type === 'Default'" name="gearingSlider" class="slider" min="3" max="8" step="1" [(ngModel)]="configuration.gearRatio"></mat-slider> {{configuration.gearRatio}}<br><br>
            <label class="slider-label">Top speed(unloaded): </label><br><br> {{getTopSpeed()}} Kph
            <i class="material-icons md-36 configurator-icon check-icon md-36" [ngClass]="{'red-check-icon': configuration.speed > getTopSpeed() || configuration.type ==='Default'}" [matTooltip]="getTopSpeedCheckString()">done</i><br><br>
            <label class="slider-label">Max wheel torque: </label><br><br> {{getTorque()}} Nm<br><br>
            <label class="slider-label">Wheel RPM: </label><br><br> {{getRPMfromKv()}} <br>
          </form>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="table-container" *ngIf="configuration.type !== 'Default'" [@panelInOut]>
    <table mat-table 
          [dataSource]="this.calculateHubGearingTable()" multiTemplateDataRows
          class="table-body mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th matTooltip="Shows power required on flat land throughout the RPM range, and if the speeds are unattainable with the current system power despite the gearing."
            mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="table-element-row">
      </tr>
    </table>
  </div>
</div>
