<!-- <h2 class="example-h2"> Ebike configuration</h2> -->
<div class="section-container">
  <section class="picture-section">
    
    
    <div class="bike-animation-container wind-blow">
      <div class="bike-container" [ngClass]="{'bike-uphill': configuration.incline >= 10, 'bike-downhill':  configuration.incline <= -10}">
        <img class="bike-animation" alt="bike" src="assets\bike{{configuration.type}}.png"
        [ngClass]="{'fast-animation': configuration.speed > 40,
        'slow-animation':  configuration.speed <= 40 && configuration.speed > 20,
        'bike-uphill': configuration.incline > 10, 'bike-downhill':  configuration.incline < -10}">
        <img class="flat" alt="flat" src="assets\flat.png">
      </div>
    </div>  
    <div class="configurator-section" [@panelInOut]>
      <div class="example-selected-value">Average power: {{calculatePower()}} W</div><br>
      <div class="example-selected-value">Requried energy: {{calculateEnergy()}} Wh</div><br>
      </div>
      <div class="configurator-section" *ngIf="configuration.type !== 'Default'" [@panelInOut]>
      <div class="example-selected-value">System power: {{this.configuration.actualPower}} W</div><br>
      <div class="example-selected-value">Avaliable energy: {{this.configuration.actualEnergy}} Wh</div>
    </div>
  </section>
<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Trip and environment</ng-template>
    <section class="configurator-section">
  <label class="slider-label">Weight(kg): </label><i class="material-icons configurator-icon">landscape</i><br>
  <mat-slider class="slider" thumbLabel min="80" max="140" step="20" [(ngModel)]="configuration.weight"></mat-slider> {{configuration.weight}}<br>
  <label class="slider-label">Incline(%): </label><br>
  <mat-slider class="slider" min="-55" max="55" step="5" [(ngModel)]="configuration.incline"></mat-slider> {{configuration.incline}}<br>

<!--   <label class="slider-label">Wheel size(inches): </label> {{configuration.wheelSize}}<br>
  20 <mat-slider class="slider" min="20" max="30" step="1" [(ngModel)]="configuration.wheelSize"></mat-slider> 30<br> -->
  <!-- <mat-form-field>
    <mat-select [(ngModel)]="configuration.wheelSize">
      <mat-option>None</mat-option>
      <mat-option value="24">24</mat-option>
      <mat-option value="26">26</mat-option>
      <mat-option value="29">29</mat-option>
    </mat-select>
  </mat-form-field>
     -->
  <label class="slider-label">Speed(kph): </label><br>
  <mat-slider class="slider" min="10" max="80" step="10" [(ngModel)]="configuration.speed"></mat-slider> {{configuration.speed}}<br>
  <label class="slider-label">Distance(km): </label> <br>
  <mat-slider class="slider" thumbLabel min="10" max="100" step="5" [(ngModel)]="configuration.distance"></mat-slider> {{configuration.distance}}<br>
</section>
</mat-step>
<mat-step>
    <ng-template matStepLabel>Battery</ng-template>
    <section class="configurator-section">
        <label class="example-margin">Motor type:</label><i class="material-icons configurator-icon">flash_on</i><br><br>
        <mat-radio-group class="example-radio-group" [(ngModel)]="configuration.type">
          <mat-radio-button class="type-radio-button" value="Default">
            None
          </mat-radio-button>
          <mat-radio-button class="type-radio-button" value="Mid">
            Mid drive
          </mat-radio-button>
          <mat-radio-button class="type-radio-button" value="Hub">
            Hub
          </mat-radio-button>
        </mat-radio-group>
               <label class="slider-label">Parralel cells:: </label><br>
  <mat-slider class="slider" thumbLabel min="80" max="140" step="20" [(ngModel)]="configuration.weight"></mat-slider> {{configuration.weight}}<br>
  <label class="slider-label">Serial cells: </label><br>
  <mat-slider class="slider" min="-55" max="55" step="5" [(ngModel)]="configuration.incline"></mat-slider> {{configuration.incline}}<br>

    </section>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Drivetrain</ng-template>
  </mat-step>
</mat-horizontal-stepper>

</div>
